.vs/
.idea/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
[Bb]uild/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.[Cc]ache/
[Cc]ache/
/[Ii]nstall/
[Uu]ser/
CMakeUserPresets.json
/imgui.ini